.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    z-index: 9999;
    background: url('images/loading-screen.jpg') center center no-repeat rgb(249, 249, 249);
    background-size: cover; 
}

/* Media query for responsiveness */
@media (max-width: 1024px) {
    .loader {
        width: 100vw;
        height: 100vh; 
        background-size: cover; 
        background-position: center center; 
    }
}

@media (max-width: 768px) {
    .loader {
        width: 100vw; 
        height: 100vh;
        background-size: cover; 
        background-position: center center; 
}}

@media (max-width: 480px) {
    .loader {
        width: 100vw; 
        height: 100vh; 
        background-size: cover; 
        background-position: center center; 
    }
}


/* Page content */
.hidecontent {
   
    display: none; /* Hidden until the loader disappears */
}